<mat-toolbar color="primary">
  <span>Smart Garden</span>
  <span fxFlex></span>
  <button mat-icon-button aria-label="Flush">
    <mat-icon>grass</mat-icon>
  </button>
  <button mat-icon-button aria-label="Signin">
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>

<div>
  <div class="grid-container">
    <ng-container *ngFor="let cardContainer of cards">
      <h1 class="mat-h1">{{ cardContainer.title }}</h1>
      <mat-grid-list cols="2" rowHeight="400px">
        <mat-grid-tile *ngFor="let card of cardContainer.cards" [colspan]="card.cols" [rowspan]="card.rows">
          <app-card [cardData]="card"></app-card>
        </mat-grid-tile>
      </mat-grid-list>
    </ng-container>
  </div>
</div>


<router-outlet></router-outlet>