.dialogTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin: 0;
  }
}

.dialogContent {
  margin-bottom: 16px;;
}

.marginList {
  margin-top: 16px;
}

.titleNoMargin {
  margin: 0;
}

.universalLoaderContainer {
  margin-bottom: 8px;
}
