<mat-toolbar color="primary" class="mainToolbar">
  <span>Smart Garden{{ !isConnected ? ' [Offline]' : '' }}</span>
  <span fxFlex></span>
  <button mat-icon-button aria-label="Action" (click)="action()">
    <mat-icon>grass</mat-icon>
  </button>
  <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <div class="menuUsername" [ngClass]="{'isDark': isDark}">
      <h5 class="mat-h5">Hi, {{ userName }}</h5>
    </div>
    <mat-divider class="marginDevider"></mat-divider>
    <button mat-menu-item aria-label="Mcu Token" (click)="mcuToken()">
      <mat-icon>vpn_key</mat-icon>
      <span>NodeMCU Token</span>
    </button>
    <button mat-menu-item aria-label="Change Password" (click)="changePassword()">
      <mat-icon>password</mat-icon>
      <span>Change password</span>
    </button>
    <button mat-menu-item aria-label="Reset data" (click)="notification()">
      <mat-icon>notifications</mat-icon>
      <span>Notification</span>
    </button>
    <button mat-menu-item aria-label="Reset data" (click)="resetData()">
      <mat-icon>restart_alt</mat-icon>
      <span>Reset data</span>
    </button>
    <button mat-menu-item aria-label="Change Password" (click)="changeTheme()">
      <mat-icon>dark_mode</mat-icon>
      <span>Set {{ isDark ? 'light' : 'dark'}} mode</span>
    </button>
    <button mat-menu-item aria-label="Signout" (click)="signOut()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>

<div [ngClass]="{'darkThemeMode': isDark}" class="mat-app-background">
  <div class="grid-container">
    <div class="mainComponent">
      <ng-container *ngFor="let cardContainer of cards">
        <h1 class="mat-h1 tittlePadding">{{ cardContainer.title }}</h1>
        <mat-grid-list cols="2" rowHeight="400px">
          <mat-grid-tile *ngFor="let card of cardContainer.cards" [colspan]="card.cols" [rowspan]="card.rows">
            <app-card [cardData]="card" [isDark]="isDark"></app-card>
          </mat-grid-tile>
        </mat-grid-list>
      </ng-container>
    </div>
  </div>
</div>
