<mat-toolbar color="primary">
  <span>Smart Garden{{ !isConnected ? ' [Offline]' : '' }}</span>
  <span fxFlex></span>
  <button mat-icon-button aria-label="Flush">
    <mat-icon>grass</mat-icon>
  </button>
  <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item aria-label="Mcu Token" (click)="mcuToken()">
      <mat-icon>vpn_key</mat-icon>
      <span>NodeMCU Token</span>
    </button>
    <button mat-menu-item aria-label="Change Password" (click)="changePassword()">
      <mat-icon>password</mat-icon>
      <span>Change password</span>
    </button>
    <button mat-menu-item aria-label="Signout" (click)="signOut()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>

<div>
  <div class="grid-container">
    <ng-container *ngFor="let cardContainer of cards">
      <h1 class="mat-h1 tittlePadding">{{ cardContainer.title }}</h1>
      <mat-grid-list cols="2" rowHeight="400px">
        <mat-grid-tile *ngFor="let card of cardContainer.cards" [colspan]="card.cols" [rowspan]="card.rows">
          <app-card [cardData]="card"></app-card>
        </mat-grid-tile>
      </mat-grid-list>
    </ng-container>
  </div>
</div>
