<section class="container">
  <div class="oauthContainer">
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-card class="oauthCard">
        <div *ngIf="isLoading" class="mplCover"></div>
        <mat-progress-bar [@loadingAnimation]="'in'" *ngIf="isLoading" class="mplProgressBar" color="primary"
          mode="indeterminate">
        </mat-progress-bar>
        <mat-card-content class="oauthCardContent">
          <form [formGroup]="signUpForm">
            <div class="infoBoxParent noImage">
              <h1 class="mat-headline subtitleText"><span>Daftar</span></h1>
              <div>
                <h3 *ngIf="!isErrorPrimary" class="mat-subheading-2 subtitleText"><span>Create a Smart Garden account</span></h3>
                <h3 *ngIf="isErrorPrimary" class="mat-subheading-2 subtitleText mat-error">
                  <span>{{ getErrorMessagePrimary() }}</span></h3>
              </div>
            </div>

            <div class="formPadding">
              <mat-form-field class="fullSize" appearance="outline">
                <mat-label>Username</mat-label>
                <input #inputUsername formControlName="username" matInput value="" autocomplete="off">
                <mat-error *ngIf="signUpForm.invalid">{{ getErrorMessageUsername() }}</mat-error>
              </mat-form-field>
              <mat-form-field class="fullSize inputMargin" appearance="outline">
                <mat-label>Password</mat-label>
                <input #inputPassword [type]="pswdHide ? 'password' : 'text'" formControlName="password" matInput
                  value="" autocomplete="off">
                <mat-error *ngIf="signUpForm.invalid">{{ getErrorMessagePassword() }}</mat-error>
                <button type="button" mat-icon-button matSuffix (click)="pswdHide = !pswdHide">
                  <mat-icon aria-label="Password icon">{{ pswdHide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
              </mat-form-field>
              <mat-form-field class="fullSize inputMargin" appearance="outline">
                <mat-label>Token</mat-label>
                <input #inputToken [type]="pswdHide ? 'password' : 'text'" formControlName="token" matInput
                  value="" autocomplete="off">
                <mat-error *ngIf="signUpForm.invalid">{{ getErrorMessageToken() }}</mat-error>
                <button type="button" mat-icon-button matSuffix (click)="pswdHide = !pswdHide">
                  <mat-icon aria-label="Password icon">{{ pswdHide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
              </mat-form-field>

              <div class="formAction">
                <div fxLayout="row" fxLayoutAlign="center center">
                  <div fxLayout="row">
                    <a class="formLinkText" routerLink="/oauth/signin">Already have account?</a>
                  </div>
                  <div fxFlex></div>
                  <button mat-flat-button color="primary" (click)="SubmitA()" [disabled]="isLoading">&nbsp; DAFTAR
                    &nbsp;</button>
                </div>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
