@use '~@angular/material'as mat;

@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$skripsi-frontend-primary: mat.define-palette(mat.$indigo-palette);
$skripsi-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$skripsi-frontend-warn: mat.define-palette(mat.$red-palette);
$skripsi-frontend-theme: mat.define-light-theme((
  color: (primary: $skripsi-frontend-primary,
    accent: $skripsi-frontend-accent,
    warn: $skripsi-frontend-warn,
  )));
@include mat.all-component-themes($skripsi-frontend-theme);

$skripsi-frontend-primary-dark: mat.define-palette(mat.$blue-palette, A900);
$skripsi-frontend-accent-dark: mat.define-palette(mat.$pink-palette);
$skripsi-frontend-warn-dark: mat.define-palette(mat.$red-palette);
$skripsi-frontend-theme-dark: mat.define-dark-theme((
  color: (primary: $skripsi-frontend-primary-dark,
    accent: $skripsi-frontend-accent-dark,
    warn: $skripsi-frontend-warn-dark,
  )));
.darkThemeMode {
  @include mat.all-component-themes($skripsi-frontend-theme-dark);

  color: mat.get-color-from-palette($skripsi-frontend-primary-dark);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fullSize {
  width: 100%;
}

.inputMargin {
  margin-top: 8px;
}

.alignCenter {
  text-align: center;
}

.tittlePadding {
  padding-left: 16px;
  padding-top: 16px;
}

// Oauth
.oauthContainer {
  margin-top: 5%;

  .oauthCard {
    width: 400px;
    position: relative;
    padding: 0;

    .mplCover {
      z-index: 3;
      outline: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      bottom: 0;
      height: 100%;
      opacity: .5;
      background: #fafafa52;
      text-align: center;
    }

    .mplProgressBar {
      z-index: 4;
      width: 100%;
      position: absolute;

      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }

    .oauthCardContent {
      width: 100%;

      .contentLogoContainer {
        text-align: center;
        top: 15px;
        margin-top: 15px;

        .logo {
          float: left;
          height: 64px;
          // height: 24px;

          &:not(.only-text) {
            width: 24px;
            height: 24px;
          }

          img {
            width: 100%;
            height: auto;
          }
        }

        .logoText {
          line-height: 24px;
          margin-top: 2px;
          margin-left: 5px;
          float: left;
        }
      }

      .infoBoxParent {
        text-align: center;

        &.noImage {
          margin-top: 16px;
        }

        .subtitleText {
          margin: 0;
        }

        .infoBoxTitle {
          padding-bottom: 0;
          padding-top: 16px;
          font-size: 24px;
          font-weight: 400;
          line-height: 1.3333;
          margin-bottom: 0;
          margin-top: 0;
        }
      }

      .formPadding {
        margin: 0;
        padding: 24px 16px 16px;

        .formAction {
          margin-top: 25px;

          .formLinkText {
            text-decoration: none;
            margin-left: 14px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.universalLoaderContainer {
  position: relative;

  .loaderCover {
    z-index: 3;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 100%;
    opacity: .5;
    background: #fafafa52;
    text-align: center;
  }

  .loaderProgressBar {
    z-index: 4;
    width: 100%;
    position: absolute;

    &.isRounded {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }
}

.mat-table {
  width: 100%;
}

.menuUsername {
  padding: 0 16px;
  margin-bottom: 8px;

  &.isDark {
    color: white;
  }
}

.grid-container {
  margin: 0 16px 16px 16px;
}

.mainToolbar {
  position: fixed;
  top: 0;
  z-index: 2;
}

.mainComponent {
  margin-top: 64px;
}

